em {
  float: right;
  color: #E05C65;
  padding-left: 10px;
}

.error input {
  background-color: #E3C3C5;
}

.error input::-webkit-input-placeholder,
.error input::-moz-placeholder,
.error input:-moz-placeholder,
.error input:-ms-input-placeholder {
  color: #F33;
}