<div>
  <div class="image-placeholder grid-center-wrapper">
    <div class="image-placeholder-message grid-center-item">placeholder</div>
  </div>

  <div class="row">
    <div class="column-left">
      <p>Lorem ipsum dolor sit amet</p>
      Consectetur adipiscing elit. Duis vel mauris non leo euismod mollis a id eros. Etiam iaculis lacus sed mi
      tincidunt posuere ac porttitor orci. Fusce rutrum posuere neque in facilisis. Donec diam nibh, viverra id rutrum
      nec, pharetra vel sem. Suspendisse nisl est, auctor id scelerisque id, posuere efficitur neque. Nam in eros eu
      urna dapibus porttitor.
    </div>
    <div class="column-right">
      <div class="dummy-image"></div>
    </div>
  </div>

  <div class="row">
    <div class="column-left">
      <div class="dummy-image"></div>
    </div>
    <div class="column-right">
      <p>Aenean malesuada lobortis maximus</p>
      Nulla quis erat sed nisi venenatis dapibus eget commodo velit. Nunc ut justo in nisi tincidunt facilisis. Duis
      maximus viverra metus nec commodo. Etiam ex arcu, condimentum sit amet dignissim at, hendrerit sit amet quam. In
      hac habitasse platea dictumst. Phasellus non efficitur mauris, et sollicitudin nisl.
    </div>
  </div>

  <div class="row">
    <div class="column-center">
      Donec ultrices eget nunc nec efficitur. Sed sed odio eget quam sollicitudin lacinia. Nunc ac dapibus odio.
    </div>
  </div>

</div>
