!/[Aa]ssets/**/*.meta
.consulo/
.gradle/
.idea/
.mtj.tmp/
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.vs/
[pP]ackages/
*.aab
*.apk
*.booproj
*.class
*.csproj
*.ctxt
*.ear
*.jar
*.log
*.mdb
*.mdb.meta
*.nar
*.opendb
*.pdb
*.pdb.meta
*.pidb
*.pidb.meta
*.rar
*.sln
*.suo
*.svd
*.tar.gz
*.tmp
*.unitypackage
*.unityproj
*.user
*.userprefs
*.VC.db
*.war
*.zip
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*
[Aa]ssets/AssetStoreTools*
[Aa]ssets/Plugins/Editor/JetBrains*
[Bb]uild/
[Bb]uilds/
[Ll]ibrary/
[Ll]ogs/
[Mm]emoryCaptures/
[Oo]bj/
[Tt]emp/
[Uu]ser[Ss]ettings/
bin/
buildNumber.properties
crashlytics-build.properties
dependency-reduced-pom.xml
ExportedObj/
hs_err_pid*
node_modules/
obj/
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
sysinfo.txt
target/