<div style="max-width:100%" class="mb-5">
  <img src="https://picsum.photos/g/1140/450" width="100%" alt="main image">
</div>

<div class="container">

  <div class="row align-items-center">
    <div class="col col-md-3 col-12">
      <p class="font-weight-bold">Lorem ipsum dolor sit amet</p>
    </div>
    <div class="col col-md-9 col-12 text-justify">
      <p>
        Consectetur adipiscing elit. Duis vel mauris non leo euismod mollis a id eros. Etiam iaculis lacus sed mi
        tincidunt posuere ac porttitor orci. Fusce rutrum posuere neque in facilisis. Donec diam nibh, viverra id rutrum
        nec, pharetra vel sem. Suspendisse nisl est, auctor id scelerisque id, posuere efficitur neque. Nam in eros eu
        urna dapibus porttitor.
      </p>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col col-md-9 col-12 text-justify">
      <p>
        Consectetur adipiscing elit. Duis vel mauris non leo euismod mollis a id eros. Etiam iaculis lacus sed mi
        tincidunt posuere ac porttitor orci. Fusce rutrum posuere neque in facilisis. Donec diam nibh, viverra id rutrum
        nec, pharetra vel sem. Suspendisse nisl est, auctor id scelerisque id, posuere efficitur neque. Nam in eros eu
        urna dapibus porttitor.
      </p>
    </div>
    <div class="col col-md-3 col-12">
      <p class="font-weight-bold">
        Donec ultrices eget nunc nec efficitur. Sed sed odio eget quam sollicitudin lacinia. Nunc ac dapibus odio.
      </p>
    </div>
  </div>

</div>
