<div class="footer">

  <ul class="column-left">
    <li>Lorem ipsum dolor</li>
    <li>Maecenas malesuada</li>
    <li>Pellentesque ornare magna</li>
    <li>Pellentesque quis orci</li>
  </ul>
  <ul class="column-center">
    <li>Praesent</li>
    <li>Etiam fermentum mauris</li>
    <li>Mauris lacinia nisl</li>
    <li>Donec iacliis</li>
  </ul>
  <ul class="column-right">
    <li>Quisque congue diam</li>
    <li>Etiam sed ex et arcu</li>
    <li>Phasellus commodo felis</li>
  </ul>
  <div class="copyright">
    <br>
    <div><em>2018 Copyleft</em></div>
    <div><em>Almost all rights reserved</em></div>
  </div>

</div>

