<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-2"></div>

    <div class="col-8">

      <mat-card>
        <mat-card-content>

          <h6>Authentication</h6>
          <hr>

          <form class="mt-2 auth-form">

            <mat-form-field>
              <input matInput
                     maxlength="256"
                     placeholder="Username"
                     aria-label="username">
            </mat-form-field>

            <mat-form-field>
              <input matInput
                     type="password"
                     maxlength="256"
                     placeholder="Password"
                     aria-label="username">
            </mat-form-field>

            <div class="mt-3 clearfix">
              <button mat-stroked-button color="primary" type="button">Sign in</button>
              <button mat-stroked-button color="link" type="button" class="pull-right" routerLink="register">Register</button>
            </div>

          </form>

        </mat-card-content>
      </mat-card>

    </div>

    <div class="col-2"></div>
  </div>
</div>
