@(products: java.util.List[Product])

@main("Products catalogue") {

    <h2>All products</h2>

    <a href="@routes.ProductsController.create()">Create new</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>EAN</th>
                <th>Name</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
        @for(product <- products) {
            <tr>
                <td>
                    <a href="@routes.ProductsController.details(product.getEan())">
                        @product.getEan()
                    </a>
                </td>
                <td>
                    <a href="@routes.ProductsController.details(product.getEan())">
                        @product.getName()
                    </a>
                </td>
                <td>
                    <a href="@routes.ProductsController.details(product.getEan())">
                        @product.getDescription()
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>
}