@(products: java.util.List[Product])

@main("Products catalogue") {

    <h2>All products</h2>

    <script>
    function remove(target) {
        $.ajax({
            url: target,
            type: 'DELETE',
            success: function() {
                location.reload()
            }
        });
    }
    </script>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>EAN</th>
                <th>Name</th>
                <th>Description</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
        @for(product <- products) {
            <tr>
                <td>@product.getEan()</td>
                <td>@product.getName()</td>
                <td>@product.getDescription()</td>
                <td>
                    <a href="@routes.ProductsController.details(product.getEan())">
                        <i class="icon icon-pencil"></i>
                    </a>
                    <a href="#" onclick="remove('@routes.ProductsController.delete(product.getEan())')">
                        <i class="icon icon-trash"></i>
                    </a>
                </td>
            </tr>
        }
        </tbody>
    </table>

    <a href="@routes.ProductsController.create()" class="btn">
        <i class="icon-plus"></i> Create new
    </a>
}